.aimeos a:link:not(.btn),
.aimeos a:visited:not(.btn) {
    color: #333;
}


.catalog-list-head>h2 {
    margin: 8px 0;
}

.catalog-list-items {
    margin: 0;
    text-align: center;
}

.aimeos .list-items {
    text-align: center;
    font-size: 100%;
    padding: 0;
}

.catalog-list .product {
    background-color: #f0f0f0;
    border-bottom: 0;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    position: relative;
    overflow: hidden;
    font-size: 100%;
    margin: 5px;
    width: calc(33.33% - 10px);

}

.catalog-list a .media-list {
    background-color: #f8f8f8;
    background-image: url(media/aimeos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 320px;
}

.catalog-list a .media-item {
    background-color: transparent;
    background-image: url(media/progress.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    width: 240px;
    height: 320px;
    margin: auto;
}

.aimeos .product .text-list {
    line-height: 1.1;
    overflow: hidden;
    color: #555;
    margin: 20px 20px 0 20px;
}



.aimeos .product .text-list .text-item p {
    text-align: center;
    color: #888;
}

.aimeos .price-item:first-of-type .quantity,
.aimeos .price-item:first-of-type .rebate,
.aimeos .price-item:first-of-type .rebatepercent,
.aimeos .price-item:first-of-type .costs,
.aimeos .price-item:first-of-type .taxrate {
    display: none;
}


.rvalue{
    color: #888;
    text-decoration: line-through;
}

.rrvalue{
    font-size: 20px;
    background-color: #ffd800;
    padding: 5px;
}


.aimeos .product .price-list {
    box-sizing: content-box;
    display: inline-block;
    font-size: 20px;
    padding: 10px 0;
}


.aimeos .product .text-list .text-item {
    overflow: hidden;
    height: 2em;
    font-size: 14px;
}




.level-1 ul {
    padding-left: 5%;
}


.catalog-filter-tree {
    margin: 0;
}

.catalog-filter-tree>h2 {
    border-bottom: 0;
    font-size: 100%;
    cursor: pointer;
    display: none;
    float: left;
    width: 100%;
    padding: 0.5em;
    margin: 0 0 1em 0;
}


.catalog-filter-tree a.cat-item {
    border-bottom: solid 1px #f8f8f8;
    white-space: nowrap;
    padding: 0.5em 0;
    display: block;
    color: #888;
}



.catalog-filter-tree ul.level-1>li.active>a.cat-item>span.cat-count {
    color: #FFF;
}

.catalog-filter-tree span.cat-count {
    color: #888;
}

.catalog-filter-tree>ul {
    display: block !important;
}


.catalog-list .catalog-list-type,
.catalog-list .pagination {
    display: none;
}

.catalog-detail{
    /*margin-top: 50px;*/
}

.aimeos .catalog-detail-basket .stock-list {
    display: none;
    text-align: center;
    padding: 0.5em 0;
    width: 100%;
}


.catalog-detail-basic h1.name{
    text-transform: none;
    font-size: 150%;
    color: #555;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
}

.catalog-detail-basic .code {
    display: none;
}
.catalog-detail-basic .short {
    display: block;
}
.catalog-detail-additional .header {
    display: none;
}
.catalog-detail-additional .header:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 120%;
    content: "";
    float: right;
}

.catalog-detail-additional .content {
    list-style: none;
    padding: 1% 0;
}

.catalog-detail-additional .item {
    padding: 1% 0;
}

.aimeos .addbasket .input-group .btn {
    width: unset;
    margin-left: 20px;
}


.aimeos .btn-primary, .aimeos .btn-primary:active {
    background-color: #ffd800;
    border: solid 1px #ffd800;
}

.aimeos .btn-primary:hover{
    background-color: #806758;
    border: solid 1px #806758;
}

.aimeos .btn-primary span, .aimeos .btn-primary:active span {
    background-color: #806758;
    padding: 13px;
    margin: -17px 10px -17px -17px;
}

.aimeos .addbasket input {
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    text-align: center;
    width: 100px;
}

.basket-mini {
    background-color: #ffd800;
    color: #555;
}

.basket-mini-main .quantity:after {
    content: " )";
}

.basket-mini > a:hover {
    text-decoration: none;
}

.basket-mini:hover{
    background-color: #806758;
}

.checkout-standard .item-service .description {
    display: inline-block;
    vertical-align: top;
    min-width: unset; 
    max-width: unset; 
    padding: 0.5em 0;
    width: 100%;
}


